/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
h1
  font-size: 2.2rem !important

h1, h2, h3, h4, h5, h6
  font-weight: 600 !important
  line-height: 1.25 !important

.theme-default-content:not(.custom), .page-edit, .page-nav
  max-width: 840px !important