name: Node.js Package
on:
  release:
    types: [created]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: yarn install
      - run: yarn test --coverage

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/

      - name: Github ref check
        run: echo "Deploying to production server on branch $GITHUB_REF"

      - name: Install npm dependencies and Build package
        - run: yarn install
        - run: yarn build

      - name: Publish tag to npm
        if: contains(github.ref, 'tags')
        run: yarn publish --new-version "${GITHUB_REF:11}" --access public --no-git-tag-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_AUTH_TOKEN }}

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
          scope: '@coders-tm'

      - name: Github ref check
        run: echo "Deploying to production server on branch $GITHUB_REF"

      - name: Install npm dependencies and Build package
        - run: yarn install
        - run: yarn build

      - name: Publish tag to npm
        if: contains(github.ref, 'tags')
        run: yarn publish --new-version "${GITHUB_REF:11}" --access public --no-git-tag-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
